name: CI Empanaderia

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test-backend:
    runs-on: ubuntu-latest

    services:
      mongodb:
        image: mongo:5.0
        ports:
          - 27017:27017
        options: >-
          --health-cmd mongo
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: 3.9

    - name: Install dependencies
      working-directory: ./empanaderia_chilena
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Tests
      working-directory: ./empanaderia_chilena/backend
      env:
        MONGO_URI: mongodb://localhost:27017/test_db
        DB_NAME: test_db
        SECRET_KEY: secreto_para_tests_github_actions
        PYTHONPATH: ${{ github.workspace }}/empanaderia_chilena/backend
      run: |
        # Ejecutamos pytest
        pytest tests/test_suite.py -v